variant: fcos
version: 1.4.0
ignition:
  config:
    merge:
      - source:{% if group_name == "bootstrap_group" %} http://bastion.ocp.{{ domain_name }}.com:8080/bootstrap.ign
{% elif group_name == "dns_master_group" %} https://api-int.ocp.{{ domain_name }}.com:22623/config/master
{% elif group_name == "dns_worker_group" %} https://api-int.ocp.{{ domain_name }}.com:22623/config/worker 
{% endif %}
  security:
    tls:
      certificate_authorities: 
        - source: {{ api_tls }}
storage:
  files:
    - path: /etc/NetworkManager/system-connections/ens192.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=ens192
          type=ethernet
          interface-name=ens192
          [ipv4]
          address1={{ node_ip }}/24,{{ node_gateway }}
          dns={{ dns_server }};
          dns-search=ocp.{{ domain_name }}.com
          method=manual
          
    - path: /etc/hostname
      mode: 0600
      contents:
        inline: |
          {{ node_hostname }}.ocp.{{ domain_name }}.com
